<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviva Stoller Photography</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="/images/Logo.webp" alt="Viva Family Photography Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="newborn.html">Newborn</a></li>
                    <li><a href="smash-cake.html">Smash Cake</a></li>
                    <li><a href="family-portraits.html">Family Portraits</a></li>
                    <li><a href="maternity.html">Maternity</a></li>
                    <li><a href="tel:561-901-9987">Call Us</a></li>
                </ul>
            </nav>
            <!-- Social Media Icons Section -->
            <div class="social-icons">
                <a href="https://www.facebook.com/VIVAPhotography1?mibextid=LQQJ4d&rdid=3VwZvY3JDUZ8X6EW&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F19kQAQEaby%2F%3Fmibextid%3DLQQJ4d" target="_blank">
                    <img src="/images/facebook_logo.png" alt="Facebook" class="social-icon">
                </a>
                <a href="https://www.instagram.com/vivala_photography/profilecard/?igsh=MTZzZnd6aGZ3ZGZoeQ%3D%3D" target="_blank">
                    <img src="/images/instagram_logo.webp" alt="Instagram" class="social-icon">
                </a>
                <a href="mailto:vivafamilyphotography@gmail.com" target="_blank">
                    <img src="/images/mail_logo.webp" alt="mail" class="social-icon">
                </a>
            </div>
        </div>
    </header>
    