<%- include('partials/header') %>

<!-- About Section -->
<section class="about">
<h3 class="center-heading">About</h3>
    
    <div class="about-content">
        <p>I am a passionate photographer specializing in capturing life’s most precious moments. With expertise in various types of photography, including newborns, family portraits, maternity, and more, I aim to create timeless, meaningful memories for each client.</p>
        <p>My approach combines creativity, attention to detail, and a warm, welcoming environment, ensuring every session reflects the beauty and individuality of my subjects. Through my lens, I capture not just images, but emotions and stories.</p>
    </div>
    <div class="gallery-item">
        <img src="/images/Family-Portraits/Aviva_about_picture.webp" alt="Family Portrait photo 12">
    </div>
</section>

<!-- Testimonials Section -->
<section class="testimonials">
    <h5>What Clients Say</h5>
    <div class="testimonial">
        <p>"Aviva has been taking photos for my family over the past three years. Maternity, new born, family, cake smash. She is so creative and so good with the kids! I love having her photograph us and can’t wait to have her continue as our family grows!"</p>
        <h6>- Orly</h6>
    </div>
    <div class="testimonial">
        <p>"Our photoshoot with Aviva was a wonderful experience! She is so patient and attentive, making sure every shot is just right. I look forward to our next photoshoot together! "</p>
        <h6>- Brittany </h6>
    <div class="testimonial">
        <p>"My husband and I recently had a maternity photoshoot with Aviva, and it was absolutely magical. She made me feel confident and comfortable every step of the way, suggesting beautiful poses that captured the excitement of our growing family. The images are beyond stunning, and I know we'll treasure them for years to come. Aviva has a genuine gift for turning precious moments into timeless keepsakes."</p>
        <h6>- Ilana </h6>
    </div>
</section>

<!-- Call to Action Section -->
<section class="cta">
    <h3>Want to Learn More?</h3>
    <p>Contact us today to schedule your session or learn more about Aviva’s photography services.</p>
    <a href="mailto:vivafamilyphotography@gmail.com" class="cta-button">Get in Touch</a>
</section>

<%- include('partials/footer') %>
