<%- include('partials/header') %>

<section class="hero">
    <h2>Smash Cake Photography</h2>
    <p>My smash cake photography sessions are all about celebrating those precious first birthdays with fun, color, and a whole lot of cake!</p>
</section>

<!-- Gallery Section -->
<section class="image-gallery">
    <div class="gallery-item"> <img src="/images/Smash-Cake/1-IMG_5069.webp" alt="Smash Cake photo 1"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/2-IMG_5152.webp" alt="Smash Cake photo 2"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/3-IMG_5171.webp" alt="Smash Cake photo 3"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/4-IMG_5172.webp" alt="Smash Cake photo 4"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/5-IMG_5179.webp" alt="Smash Cake photo 5"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/6-IMG_5182.webp" alt="Smash Cake photo 6"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/7-IMG_5221.webp" alt="Smash Cake photo 7"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/8-IMG_5227.webp" alt="Smash Cake photo 8"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/9-IMG_5230.webp" alt="Smash Cake photo 9"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/10-IMG_5235.webp" alt="Smash Cake photo 10"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/11-IMG_5242.webp" alt="Smash Cake photo 11"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/12-IMG_5245.webp" alt="Smash Cake photo 12"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/13-IMG_5249.webp" alt="Smash Cake photo 13"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/14-IMG_5691.webp" alt="Smash Cake photo 14"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/15-IMG_5699.webp" alt="Smash Cake photo 15"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/16-IMG_5710.webp" alt="Smash Cake photo 16"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/17-IMG_5736.webp" alt="Smash Cake photo 17"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/18-IMG_5742.webp" alt="Smash Cake photo 18"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/19-IMG_5747.webp" alt="Smash Cake photo 19"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/20-IMG_5756.webp" alt="Smash Cake photo 20"></div>
    <div class="gallery-item"><img src="/images/Smash-Cake/21-IMG_5787.webp" alt="Smash Cake photo 21"></div>
</section>

<section class="booking">
    <h3>Schedule your Smash Cake Session</h3>
    <p>Let’s make your little one’s first birthday memorable! Contact us to book a smash cake photography session filled with joy and cake-smashing fun!</p>
    <a href="mailto:vivafamilyphotography@gmail.com" class = "booking-button">Schedule Your Smash Cake Session</a>
</section>

<%- include('partials/footer') %>
